<h1>Demos Index</h1>

<p>
  <%= link_to "Categories", categories_path %> - a simple AJAX CRUD controller example
</p>

<p>
  <%= link_to "Pictures", pictures_path %> - another AJAX CRUD controller example, this time with remote files uploading handler
</p>

<p>
  <%= link_to "Articles", articles_path %> - various form widgets example, includes Autocompleter, Calendar, Rater, Slider
</p>