<h1>Picture details</h1>
<p>
  <b>Name:</b>
  <%=h @picture.name %>
</p>
<p>
  <b>Picture:</b><br/>
  <%= link_to_lightbox image_tag(@picture.image.url(:thmb)), @picture.image.url(:medium) %>
</p>

<div class="bottom-links">
  <%= link_to 'Edit', edit_picture_path(@picture), :class => :edit %> |
  <%= link_to 'Back', pictures_path, :class => :back %>
</div>
